salesfor_demo/src/main/mule/worldTimeApi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="de20b33a-75a3-4278-a4e0-68949544ff74" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldTimeApiFlow" doc:id="ef75d8d2-81dc-4215-b67b-8d14fa7fc2c3" >
		<http:listener doc:name="Listener" doc:id="58cb082b-6cf8-425f-865c-dd7bf01b4c38" config-ref="HTTP_Listener_config" path="/worldTime" allowedMethods="POST,GET"/>
		<http:request method="GET" doc:name="Request" doc:id="273d87c9-2f5d-4014-935e-f67caec96751" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
