worldtime_api/src/main/mule/worldtime_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dc9fb297-302b-4ae7-8fed-0fafde886bc0">
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b44ac6d9-0713-41c2-92a3-d78090f47f9e" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="7621fc6a-0408-4648-a454-2bb5547e0f76" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtime_apiFlow" doc:id="11b20927-bb99-4b76-8dea-1ce58bbf79d3" >
		<http:listener doc:name="Listener" doc:id="65ce6131-cc5e-483d-a61c-96ff6d5f96b9" config-ref="HTTP_Listener_config" path="/timezone/{region}/{city}" allowedMethods="POST,GET"/>
		<http:request method="GET" doc:name="Request" doc:id="e27f9c58-0787-4fa5-9b68-6238fb13cda1" config-ref="HTTP_Request_configuration1" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="4fbe1535-2e86-4b11-8d5d-7e881e193af6" message="#[payload]"/>
	</flow>
</mule>
